# Masukan APP ID ambil di web my.telegram.org
API_KEY = "6"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "6a6cc00a8c9721f1de6516f555dbd511"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = ""

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = ""

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = 0 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = ""

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

